.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* Ensure equal space between sections */
  padding: 2rem;
}

.container > div {
  position: relative;
  flex: 1; /* Equal width for both sections */
  padding-left: 2rem;
  /* Space for the vertical line */
}

.heading {
  margin-bottom: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}

.resumeHead {
  color: #0088cc;
  font-size: 18px;
}

.item {
  position: relative;
  padding-left: 1rem;
  padding-bottom: 2rem;
  line-height: 2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item::before {
  content: '';
  position: absolute;
  left: -1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #0088cc;
  top: 0;
}

.item::after {
  content: '';
  position: absolute;
  left: -0.5rem;
  width: 2px;
  background: #dedede;
  top: 1rem;
  bottom: -1rem;
}

.item:first-child::after {
  top: 0;
}

.item:last-child::after {
  bottom: auto;
  height: 1rem;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding: 0; /* Reset padding for smaller screens */
  }

  .container > div {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 1rem;
  }
}
