.user {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #dedede;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.gitHead {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2429;
  padding: 10px;
  border-radius: 8px;
}

.button {
  background-color: #EC7C68;
  padding: 10px 30px;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 1px solid #1F2429;
  color: #2d2d2d;
  border-radius: 7px;
}


.avatar {
  border-radius: 50%;
  object-fit: cover;
}


.gitItem {
  display: block;
}

.user {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-right: 2px solid #3b5998;
  padding: 0 1rem;
  height: 100%;
}

.userInfo {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.user>div:last-child {
  border-right: none;
}

.username {
  margin-top: 20px;
  margin-left: 50px;
  color: #dedede;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
  text-decoration: none;
}

.links {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  margin: 1.5rem 0;
}

.title {
  margin-bottom: 1.5rem;
}

.contributions {
  width: 100% !important;
}

@media screen and (max-width: 900px) {
  .user h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .user h3 {
    font-size: 14px;
  }


}